/* REGOLE RESET*/


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

ul, li, menu {
    list-style: none;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}



/* REGOLE HEADER */



.main_header .main__nav, .main_nav_list ul, .main_nav_icon ul{
    display: flex;
}

.main_header {
    background-color: #FF6900;
    padding: 20px;
}

.main_header .main__av {
    background-color: #FF6900;
    justify-content: space-between;
} 

.main_header .main_nav_list {
    font-size: 17px;
    font-weight: bold;

}

.main_header .main_nav_list ul{
    gap: 10px;
}

.main_header .main_nav_logo img{
    width: 100px;
    height: 100 px;
}

.main_header .main_nav_icon ul{
    width: 80px;
    gap: 10px;
}



/* REGOLE MAIN  */


.main .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
}

.main .col-3 {
    width: calc(100% / 3);
    padding: 20px;   
}



/* REGOLE MAIN CARD */



.main .card {
    position: relative;
}


.main .card_favorite::after {
    content: ' \2665';
    background-color: white;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 30px;
    right: 0;
    text-align: center;   
    font-size: 30px;
}

.main .card_favorite:hover {
    color: red;
}


.main .card_banner{
    position: absolute;
    left: 0px;
    bottom: 40px;
    color: white;
}

.main .card_discount {
    background-color: red;
    padding: 0 10px;
}

.main .card_ecotag {
    background-color: green;
    padding: 0 10px;
}


.main .card_title {
    font-weight: 700;
}

.main .card_price {
    color: red;
    font-weight: 500;
}

.main .card_price > span {
    text-decoration: line-through;
    color: black;
}


.main .card_banner, .card_favorite::after {
    z-index: 999;
}

.main .card_img_2 {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.main .card:hover .card_img_2{
    z-index: 2;
}



/* REGOLE FOOTER */



.main_footer {
    background-color: #1a1a1a;
    padding: 20px 0 20px;
    color: white;
}

.main_footer .main_nav_footer {
    display: flex;
    justify-content: space-between;
}

.main_footer .main_nav_footer_list {
    display: flex;
    gap: 20px;
    padding-top: 10px;
}

.main_footer .footer_social_list ol{
    display: flex;
}

.main_footer .main_nav_footer .footer_social_list li{
    width: 40px;
    padding: 10px 5px;
}

/* DEBUG */

